<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sobre mi</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <link rel="stylesheet" href="../CSS/styles.css">
</head>
<body>
  
  <header class="header">
    <h1 class="header-title">Felipe Forte</h1>
    <nav class="header-nav">
      <ul class="nav-list">
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="sobremi.html">Sobre mi</a></li>
        <li><a href="educacion.html">Educación</a></li>
        <li><a href="empleos.html">Empleos</a></li>
      </ul>
    </nav>
  </header>

  <main>
    
    <section class="sobremi-box">
      <h2>Sobre mí</h2>
      <div class="sobremi-box-content">
        <p> Estudiante de sistemas que se siente intrigado por el mundo de la tecnología. Mi objetivo es desarrollar soluciones innovadoras que tengan un impacto positivo en la vida cotidiana.<br> <br>Tengo un sólido entendimiento de las <span>Metodologías ágiles</span>, como Scrum, lo que me permite trabajar de manera colaborativa y adaptativa para alcanzar resultados excepcionales en plazos ajustados.
          Me encanta el trabajo en equipo y aplicar las mejores prácticas en la gestión de proyectos. Mi experiencia en sistemas de gestión de versiones como <span> Git y GitHub </span> respalda mi capacidad para colaborar de manera eficaz en proyectos de desarrollo distribuido.
          <br><br>Poseo habilidades en <span>HTML, CSS, SAAS y Python </span>, lo que me permite no solo entender la parte técnica de la creación de sitios web, sino también diseñarlos de manera atractiva y funcional. Mi compromiso con la mejora constante me motiva a mantenerme actualizado con las últimas tendencias y tecnologías en el sector.
          <br><br>Estoy emocionado por las nuevas oportunidades y colaboraciones que me permitan crecer profesionalmente y enfrentar desafíos estimulantes. Siempre estoy dispuesto a aprender y contribuir al campo de la tecnología.</p>
      </div>
    </section>




  </main>

  <footer>

  </footer>
</body>
</html>